* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#menu {
    list-style: none;
    padding: 2%;
    background: linear-gradient(to bottom, #00ff00, rgb(121, 0, 0));
    text-align: center; 
}

#menu li {
    display: inline-block;
    margin-right: 5%; 
}

#menu li a {
    color: #FFFFFF;
    text-decoration: none;
    padding: 1%;
}

#menu li:last-child {
    margin-right: 0;
}
#menu li.logo-button {
    padding: 0.5%;
}
#menu li.logo-button a {
    padding: 10px;
}
body{
    text-align: center;
    background-color: rgb(121, 0, 0);
    color: #FFFFFF;
}
p{
    font-size: 30px;
}
.container {
    display: flex;
}

.texto {
    text-align: center;
    flex: 1; 
}

.imagem {
    text-align: right;
}
table{
    text-align: left;
    list-style: none;
    list-style-type: lower-latin;
    background-color: black;
    border-style:none;  
}
a{
    color:cadetblue;
}
#final{
    text-align: center;
}
footer {
    background: linear-gradient(to top, #00ff00, rgb(121, 0, 0));
    padding: 5%;
    text-align: bottom;
} 
p{
    font-size: 2vw;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
